<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Management System</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body >
    <div class="banner d-flex justify-content-center align-items-center">
    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#companies">Companies</a></li>
        </ul>
    </nav>
    <div id="about" class="section">
        <header>
            <h1>About Our Alumni360:A Circle of our Alumni</h1>
        </header>
        <section class="content">
           
            <p>Our system provides:</p>
            <ul>
                <li>Alumni Profiles: Detailed profiles of alumni, showcasing their career achievements, current positions, and areas of expertise.<br>
                 These profiles enable users to find and connect with alumni for networking, mentorship, and professional opportunities.<br></li>
                <li>Referral and Networking Opportunities: Alumni360 makes it easy for alumni to refer job opportunities within their companies and industries,<br>
                 helping fellow graduates advance in their careers.</li>
                <li>Mentorship Programs: Our platform supports mentorship programs,<br>
                 where experienced alumni can offer guidance and advice to current students and recent graduates.</li>
                
            </ul>
            <p>Join us today and stay connected!</p>
        </section>
    </div>
    <div id="companies" class="section">
        <header>
            <h1>Companies where our Alumni are Placed</h1>
        </header>
        <section class="content">
            <p>Our alumni are working in some of the top companies across various industries:</p>
            <ul>
                <li>DE Shaw & co</li>
                <li>Arcesium</li>
                <li>TRILOGY</li>
                <li>AMAZON</li>
                <li>Deutsche Bank</li>
                <li>Adobe</li>
                <li>Deloitte</li>
                <li>Goldman Sachs</li>
                 <li>OPTUM</li>
                  <li>Accenture</li>
                   <li>IBM</li>
                    <li>Wipro</li>
            </ul>
            <p>Many More,We are proud of our alumni and their achievements!</p>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 Alumni_360:circle of our alumni</p>
    </footer>
</div>
    <script src="js/scripts.js"></script>

</body>
</html>
